@using System.Security.Claims;
@model List<HatListeDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card mt-3" style="border-radius:10px">
    <h5 class="card-header">Satışı Gerçekleşen Hat Listesi</h5>
    <div class="card-body w-100">
        <table class=" table table-sm table-hover table border w-100">
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Telefon Numarası</th>
                <th>Açılış Tarihi</th>
                <th>İşlemler</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Ad</td>
                    <td>@item.Soyad</td>
                    <td>@item.TelefonNo</td>
                    <td>@item.HatAcilisTarihi</td>
                    <td class="text-center">  <a asp-action="HatKullanimDetay" asp-controller="Hat" asp-route-HatId="@item.HatId" class="btn btn-success btn-sm duzenleButton"><i class="fas fa-edit"></i>Detay</a>
                        @if (User.HasClaim(x => x.Type == ClaimTypes.Role && x.Value == "Admin"))
                        {
                            <a asp-action="HatSil" asp-controller="Hat" asp-route-HatId="@item.HatId" class="btn btn-danger btn-sm duzenleButton"><i class="fas fa-edit"></i>Sil</a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

